<div id="about">
    <h2><b><i>Who Are We?</i></b></h2>
    <p >MERIT is a A field action project of Tata Institute of Social Sciences (TISS) under Centre for Community Organisation and Development Practice.
        We are a group of about 50 Volunteers working to support students from the underprivileged sections of society 
        within Mumbai region for their academics and future career. </p>
        <p><b>The students are our future citizens, 
        hence any addition in their academics and career, causes drastic change in future society.</b></p>

<p >10th board examination  is first major breakthrough or challenge faced by them. 
    This centralized examination has vast future consequences in students future.
    So MERIT is currently working in low fees schools and BMC schools in high school level through our various programs.</p>
<p >Our flagship programs in this direction are science lab project, career guidance, mentoring programs and merit studio. 
    Science lab project includes lectures, demonstrations and workshops to teach basic science concepts 
    using simple experiments. Career guidance, motivation programs, counseling and mentoring programs
     are to mould the future course of the students and increase & channelize their academic interests. 
We also developed around 25 Science kits to make science education easy and enjoyable with
 aim " Study Science Through Experimentation". 
The detailed Science manuals for the same is freely downloadable in various formats.</p>
<p >Our Video Channels caters various science education & Career lectures making us reach the masses like you.
We are always listening to you for further improvement and your active participations. 
</p>
</div>