<div id="main">
<article class="cell" id="news"><marquee>announcement</marquee></article>
<article id="gallery">
	<div id="slideshow">
		<img  src="/assets/images/bamboo.jpg" width="100%"  class="active"/>
		<img  src="/assets/images/drop.jpg" width="100%" />
		<img  src="/assets/images/flower.jpg" width="100%" />
	</div>		
</article>



<article class="mainContent">
	<section id="aboutus"><p>Mumbai Education Research Innovation Training Trust is  
	striving to become a flagship NGO to ascertain Social Empowerment through Quality Education. 
	In past three years we have done various field surveys and action programs in underprivileged 
	high schools within Mumbai region to improve students awareness and education quality <a [routerLink]="['/aboutus']">more...</a></p></section>
	<section id="sciencekit">Science kit<br>
	Coming Soon.....</section>
	<section id="video"><a href="#video1">Video1</a><a href="#video2">Video2</a>
	<br>Coming Soon.....</section>
	<section id="event">Event</section>
</article>
</div>