<article style="width:100%;">
	<section class="partners"><p>Mumbai Education Research Innovation Training Trust is  
	striving to become a flagship NGO to ascertain Social Empowerment through Quality Education. 
	In past three years we have done various field surveys and action programs in underprivileged 
	high schools within Mumbai region to improve students awareness and education quality <a [routerLink]="['/aboutus']">more...</a></p></section>
	<section class="partners">Science kit<br>
	Coming Soon.....</section>
	<section class="partners"><a href="#video1">Video1</a><a href="#video2">Video2</a>
	<br>Coming Soon.....</section>
	<section class="partners" >Event</section>
  
</article>
<br>

<article style="width:100%;margin-top:10px;">
	<section class="partners"><p>Mumbai Education Research Innovation Training Trust is  
	striving to become a flagship NGO to ascertain Social Empowerment through Quality Education. 
	In past three years we have done various field surveys and action programs in underprivileged 
	high schools within Mumbai region to improve students awareness and education quality <a [routerLink]="['/aboutus']">more...</a></p></section>
	<section class="partners">Science kit<br>
	Coming Soon.....</section>
	<section class="partners"><a href="#video1">Video1</a><a href="#video2">Video2</a>
	<br>Coming Soon.....</section>
	<section class="partners" >Event</section>
  
</article>