
body {
    background-image: url(/assets/images/light_green.jpg);
    height: 100%;
}

#title {
    border-radius: 25px;
    background: url(/assets/images/green.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;   		
}


#leftHeader{
	width:18%;
	float:left;	
}
#leftHeader img 
{
 width: 150px; 
 height: 45px;
 display:block;
 margin-left: 3vw;
}
#rightHeader{
	width:20%;
	float:right
}
#rightHeader img 
{
 width: 70px;
 height: 45px;
 
}
#middleHeader{
	width:65%;
	font-size:25px;	
	color: #ECECF6;
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
}

#gallery{
	width  : 90%;	
	margin-left : 5%;	
	margin-right : 5%;	
	position:relative;		
}


#slideshow img {
	height : 400px;	
	width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow img.active {
    z-index:10;
}

#slideshow img.last-active {
    z-index:9;
}

#news{
	width  : 100%;
	height : 5%;	
	border-style : solid;
	border-color:green;
	color:red;
	font-weight:bold;		
	
}


#aboutus,#sciencekit,#video,#event{
	width : 23%;
	background-color:black;
	border:solid;
	min-height:18vw;
	height:auto;	
	border-color:green;
	color:white;
	float: left;
	margin-top: 30em;	
	margin-left:1em;	
} 




/* CSSTerm.com Simple CSS menu */

br { clear:left }


.menu_simple ul {
	
    width: 100%;
    background-color: #005555;
    margin: 0; padding: 0;
    float: left;
}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: yellow; 
    padding: 10.5px 11px;
    background-color:  #005555;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}

footer{
	margin-left: 20px;
	margin-top: 10px;
	color: #2E6799
}

#about{
	
	font-family: courier;    
	border: 1px 1px 1px 1px;	
	border-color: green;
	width: 80%;
	margin-left: 30px;
}


p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	text-align: justify;
	font-weight: bold;
}
p + p {
	text-indent: 2.5em;
}

.partners{
	width : 23%;	
	border: 1px solid green;
	min-height:18vw;
	height:auto;		
	float: left;	
	margin-left:1em;
}

