<!--<h1>
  {{title}}
</h1>-->

<div class="container">
  <div class=" panel panel-info col-sm-7 col-sm-offset-3">
    <div class="panel-heading text-center">Distance</div>
    <div class="panel-body">
      <form class="form-horizontal" >
      <div class="form-group" >
          <label for="amount"  class="control-label col-sm-3 ">Distance :  </label>
          <div class="col-sm-4">
                  <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter the distance to convert"
                  [(ngModel)]="distanceModel.distance" required>
          </div>     
      
        <div class="col-sm-3">
          <input type="submit" name="convertBtn" value="Convert" class="btn-primary" (click)='convert()' 
                              />
        </div>
      </div>  
      <br>
    <div class="form-group col-sm-11" >
        <label for="from" class="col-sm-2 control-label">From: </label>
          <div class="col-sm-3">
            <select class="form-control col-sm-4" id="from"  name="from"  [(ngModel)]="distanceModel.from" required>
              <option selected="selected" disabled [ngValue]="none">Select...</option>
              <option *ngFor="let from of fromLst" [ngValue]="from">{{from}}</option>              
            </select>
          </div>

        <label for="to" class="col-sm-2 control-label">To: </label>
        <div class="col-sm-3">
            <select class="form-control col-sm-4" id="to" name="to" [(ngModel)]="distanceModel.to" required>
              <option selected="selected" [ngValue]="none" disabled>Select...</option>
              <option *ngFor="let to of toLst" [ngValue]="to"> {{to}}</option>            
            </select>
        </div>
      </div>

      <div class="clearfix"></div>

    
      <div class="panel panel-primary col-sm-6  col-sm-offset-2">
          <div class="panel-heading text-center">Result</div>
          <div class="panel-body text-center"><label class=" text-right "><Strong>$150 </Strong></label></div>
      </div>
      
    </form>
  </div>
</div>

</div>
 
